ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#012f5e;
    font-family: IBM Plex Sans
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color:#e8c16d;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19pt;
  }
  
  
  li a:hover {
    background-color: #212121;
    
  }
  body {
    background-color:#f5e3ce;
    font-family: IBM Plex Sans; 
  }

   
  h1{ font-size: 36pt;
    border: 1px;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    background-color: #d1d1d1;
    border: 2px solid black;
    border-radius: 6px;
    
}
p { border: 2px solid black;
    border-radius: 6px;
    text-align: left;
    font-size: 15pt;

    
border-image-width: 5mm;   }   
    